altair
joblib
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain-huggingface
langsmith
matplotlib
matplotlib-inline
numpy
pandas
pillow
plotly
pydantic
pydantic_core
scikit-learn
scipy
seaborn
streamlit
streamlit-code-editor
urllib3
xgboost
category_encoders
imbalanced-learn
torch==2.0.1
torchvision==0.15.2
Pillow
opencv-python
opencv-python-headless
ultralytics
faiss-cpu
sentence-transformers
chardet
transformers==4.30.2
python-dateutil
optuna
plotly
matplotlib
langchain-experimental
tabulate
missingno
fancyimpute
statsmodels