altair
joblib
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-groq
langchain-text-splitters
langsmith
matplotlib
matplotlib-inline
numpy
pandas
pillow
plotly
pydantic
pydantic_core
scikit-learn
scipy
seaborn
streamlit
streamlit-code-editor
urllib3
xgboost
category_encoders
imbalanced-learn
torch
torchvision
Pillow
opencv-python
opencv-python-headless