altair
joblib
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
transformers>=4.39.0
langchain-huggingface
langsmith
matplotlib
matplotlib-inline
numpy
pandas
pillow
plotly
pydantic
pydantic_core
scikit-learn
scipy
seaborn
streamlit
streamlit-code-editor
urllib3
xgboost
category_encoders
imbalanced-learn
torch>=2.1.0
torchvision>=0.16.0
Pillow
opencv-python
opencv-python-headless
ultralytics
faiss-cpu
sentence-transformers
chardet
python-dateutil
optuna
plotly
matplotlib
langchain-experimental
tabulate
missingno
fancyimpute
statsmodels
tensorflow